.buscador-contenedor {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    height: 85vh; /* Para que ocupe casi toda la pantalla y podamos scrollear */
}

.buscador-panel-filtros {
    flex: 1;
    background-color: var(--bg-secundario);
    padding: 20px;
    border-radius: var(--border-radius);
    min-width: 250px;
    max-width: 300px; /* Para que el menú izquierdo no se vuelva gigante */
    height: fit-content; 
}

.buscador-panel-filtros label {
    display: block;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
    color: var(--text-principal);
}

.buscador-input {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-sm);
    font-size: 14px;
    box-sizing: border-box; /* Evita que el padding rompa el ancho */
}

.buscador-panel-resultados {
    flex: 3;
    display: grid;
    /* La magia de la grilla responsiva */
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    align-content: start;
    overflow-y: auto; /* Scroll individual para los resultados */
    padding-right: 10px;
}

.buscador-vacio {
    color: var(--text-secundario);
    font-style: italic;
    grid-column: 1 / -1; 
    text-align: center;
    padding: 40px;
    font-size: 18px;
}