.home-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.home-grupo-botones {
    display: flex;
    gap: 40px; /* Separación entre botones */
}

.home-btn {
    padding: 35px 50px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    /* El degradado exacto de naranja a rojo */
    background: linear-gradient(to bottom right, var(--color-primario), var(--color-tercero));
    color: var(--text-claro);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
    width: 280px;
    text-align: center;
    text-transform: uppercase;
}

/* El efecto de iluminación al pasar el mouse */
.home-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(241, 160, 68, 0.4);
    filter: brightness(1.1);
}

.home-btn:active {
    transform: translateY(2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}